.card_container {
  display: grid;
  grid-template-columns: 3rem 6rem auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "image image image"
    "details details options";
  height: 18rem;
  width: 18rem;
}
.thumbnail_container {
  grid-area: image;
}
.thumbnail {
  transition: 0.3s ease-in-out;
  height: 12rem;
  width: 100%;
}
.no_thumbnail {
  height: 12rem;
  width: 100%;
}
.video_details {
  grid-area: details;
}
.options_btn {
  grid-area: options;
  position: absolute;
  bottom: 5%;
}
.options {
  position: absolute;
  right: 5%;
  bottom: 0px;
  background-color: rgba(66, 65, 65, 0.9);
  color: var(--text-white);
  z-index: 1;
}
