.nav_header {
  display: flex;
  justify-content: space-between;
  background-color: var(--text-light);
  border-radius: 0;
}
.logo {
  display: flex;
  align-items: center;
  color: var(--text-dark);
  padding: 0px 10px;
  gap: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
}
.logo_icon {
  font-size: 1.5rem;
  color: var(--primary-light);
}
.text_thin {
  font-weight: 100;
}
.icon {
  color: var(--text-dark);
  transition: 0.2s ease-in-out;
}
.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar_list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list_items:hover {
  background-color: var(--gray-light);
}
