@import url("./styles/utilities.css");
@import url("./styles/variables.css");
body {
  background-color: var(--background);
  transition: 0.2s;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: var(--gray-light);
  outline: none;
}
